.box{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid black ;
}

.box1:hover{
    transform: scaleX(2);
    transform-origin: left; 
    transition: transform 2s;
} 

.box2:hover{
    transform: skewX(30deg);
    transition: transform 1s;
}

.box3:hover {
    position: relative;
    background-color: red;
    border-radius: 50% 50%;
    transform: translateX(150px) rotate(180deg) ;
    transition: 5s;
}


.box4:hover {
    position: relative;
    transform-origin: top;
    background-color: yellow;
    transform: perspective(50px);
    transform: rotateY(180deg) scale(1.5);
    transition: 1s;
}

